{% extends 'bookstore/base.html' %}

{% block content %}
    <div>
		</br>
		<a href="/">Back to list of projects</a>
		</br>
		</br>
		<ol>
			<li><strong>Menu for customers</strong>
				<ul>
					</br>
					<li><a href="customer/new">Add new customer</a></li>
					</br>
					<li><a href="customer/all">View all customers</a></li>
					</br>
					<li><a href="customer/order">Order a book for the customer</a></li>
				</ul>
			</li>
			</br>
			<li><strong>Books managing</strong>
				<ul>
					</br>
					<li><a href="book/new">Add new book</a></li>
					</br>
					<li><a href="book/all">View all books</a></li>
				</ul>
			</li>
		</ol>
	</div>
{% endblock %}