{% load static %}
<html>
    <head>
        <title>Kamil's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu">Dodaj post <span class="glyphicon glyphicon-plus"> </span></a>
            <h1><a href="/">Kamil Bienias - home page. <br> Blog made in Django.</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>