<html>
{% load static %}
    <head>
        <title>Kamil's site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!--        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="page-header" style="background-color: #303030;">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">Add post <span class="glyphicon glyphicon-plus"> </span></a>
            {% endif %}
            <h1><a style="cursor: pointer;" href="/" >Kamil Bienias - home page.</a></h1>
            <p style="color:white; font-size: 18px;">Projects: &nbsp&nbsp</p>
            <div>
            <a href="{% url 'polls:index' %}" id="polls" onmouseover="polls()" onmouseout="polls_normal()" style="font-size: 18px; text-decoration: none; cursor: pointer">&nbsp&nbsp&nbsp polls</a><br>
            <a href="{% url 'bookstore:bookstore_home_page' %}" id="bookstore" onmouseover="bookstore()" onmouseout="bookstore_normal()" style="font-size: 18px; text-decoration: none; cursor: pointer">&nbsp&nbsp&nbsp bookstore</a><br>
            <a href="findword/" id="searching" onmouseover="searching()" onmouseout="searching_normal()" style="font-size: 18px; text-decoration: none; cursor: pointer">&nbsp&nbsp&nbsp searching</a><br>
            <a href="todo/" id="todolist" onmouseover="todolist()" onmouseout="todolist_normal()" style="font-size: 18px; text-decoration: none; cursor: pointer">&nbsp&nbsp&nbsp ToDoList</a><br>
            <a href="iss/" id="iss" onmouseover="iss()" onmouseout="iss_normal()" style="font-size: 18px; text-decoration: none; cursor: pointer">&nbsp&nbsp&nbsp International Space Station</a><br>
            </div>
            <div style="clear:both"></div>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <script>
            function polls()
            {
               document.getElementById('polls').innerHTML="__polls__(self)";
            }

            function polls_normal()
            {
               document.getElementById('polls').innerHTML="&nbsp&nbsp&nbsp polls";
            }

            function bookstore()
            {
               document.getElementById('bookstore').innerHTML="__bookstore__(self)";
            }

            function bookstore_normal()
            {
               document.getElementById('bookstore').innerHTML="&nbsp&nbsp&nbsp bookstore";
            }

            function searching()
            {
               document.getElementById('searching').innerHTML="__searching__(self)";
            }

            function searching_normal()
            {
               document.getElementById('searching').innerHTML="&nbsp&nbsp&nbsp searching";
            }

            function todolist()
            {
               document.getElementById('todolist').innerHTML="__ToDoList__(self)";
            }

            function todolist_normal()
            {
               document.getElementById('todolist').innerHTML="&nbsp&nbsp&nbsp ToDoList";
            }

            function iss()
            {
               document.getElementById('iss').innerHTML="__International Space Station__(self)";
            }

            function iss_normal()
            {
               document.getElementById('iss').innerHTML="&nbsp&nbsp&nbsp International Space Station";
            }
    </script>
</html>