{% extends 'bookstore/base.html' %}

{% block content %}
    <h2> View all customers or <a href="/bookstore">back to bookstore page</a></h2>

    {% for customer in customers %}
        <div>
            <p>Customer id: {{ customer.id }}<p/>
            <p>Name: {{ customer.first_name }}<p/>
            <p>Surname: {{ customer.last_name }}<p/>
            <p>Date of birth: {{ customer.date_of_birth }}<p/>
            <p>Email: {{ customer.email }}<p/>
            <p><a href={{customer.id}}>Show all books bought by customer with id {{ customer.id }} </a><p/>
            **************************************************************************************************************************************************
        </div>
    {% endfor %}
{% endblock %}