{% extends 'bookstore/base.html' %}

{% block content %}
    <h2> View all books of {{ selected_customer.first_name }} {{ selected_customer.last_name }} or <a href="/bookstore/customer/all">back to all customers</a></h2>

    {% for book in books %}
        <div>
            <p>Book id: {{ book.id }}<p/>
            <p>Title: {{ book.title }}<p/>
            <p>Author's first name: {{ book.author_first_name }}<p/>
            <p>Author's last name: {{ book.author_last_name }}<p/>
            <p>Price: {{ book.price }}<p/>
            <p>Description: {{ book.book_description }}<p/> <!-- linebreaks to nowa linia book.book_description|truncatewords:30|linebreaks-->
            <p>Buyer id: {{ book.buyer_id}}<p/>

            **************************************************************************************************************************************************
        </div>
    {% empty %}
        <div>
            <h3 style="color: red">There is no books of that customer</h3>
        </div>
    {% endfor %}
{% endblock %}