{% extends 'bookstore/base.html' %}

{% block content %}
    <h2> Select buyer or <a href="/bookstore/customer/order">back to all books page</a></h2>
        </br>
        <p>You have chosen book:</p>
        <div>
            <p>Book id: {{ book.id }}<p/>
            <p>Title: {{ book.title }}<p/>
            <p>Author: {{ book.author_first_name }} {{ book.author_last_name }}<p/>
            <p>Price: {{ book.price }}<p/>
            <p>Buyer id: {{ book.buyer_id}}<p/>
        </div>
        <form method="POST"> {% csrf_token %}
            {{ form.as_p }} <!-- metoda, która zapisuje formularz -->
            <input type="submit" value="Order the book with id {{ book.id }}"/>
        </form>
        </br>
        ********************************************************************************************************************************************************************************
        {% for customer in customers %}
        <div>
            <p>Customer id: {{ customer.id }}<p/>
            <p>Name: {{ customer.first_name }}<p/>
            <p>Surname: {{ customer.last_name }}<p/>
            <p>Date of birth: {{ customer.date_of_birth }}<p/>
            <p>Email: {{ customer.email }}<p/>
            ********************************************************************************************************************************************************************************
        </div>
        {% endfor %}

{% endblock %}